<html>
<head>
        {% load static %}
        <!-- <link rel ="stylesheet" href="{% static 'css/clg_finder/admin_login.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/central.css' %}">
    <script type="text/javascript">
        var items = document.getElementsByName('chk');
        var select1 = document.getElementsByName('chk_1');
        var caste = document.getElementsByName('caste');
        var fees = document.getElementsByName('fees');
        var clg1 = document.getElementsByName('college_name');
        function fees1()
        {
           // document.write("fees");
            for(var i = 0;i<fees.length;i++)
            {
                if(fees[i].value == "")
                {
                    return false;
                }
            }
            return true;
        }
        function casteCheck() 
        { 
            var x = (arguments[0]*16)-1;
            var count = 16;
            //document.write(caste[1].value);
            while(count!=0)
            {
                if(caste[x].value == "")
                {   
                    return false;
                }
                count--;
                x--;

            }
            return true;
        } 
        function Check1() {
            //document.write(clg1[0].value);
            var instu_code = document.getElementsByName('instu_code');
            var Region = document.getElementsByName('Region');
            var University = document.getElementsByName('University');
            // document.write(Region.length);
            // document.write(items[0].value);
            //document.write(select1[0].value);
            //alert(items[0].value);
            //var selectedItems="";
            //document.write(fees.length);
            
            if(clg1[0].value == "")
            {
                alert("Enter College name");
                return false;
            }
            if(instu_code[0].value == "")
            {
                alert("Enter Institute code");
                return false;
            }
            var Region_count = 0;
            for(var i = 0;i<Region.length;i++)
            {
                var temp = Region[i].value;
                if(temp.length<=0)
                {
                    Region_count++;
                    if(Region_count  == Region.length)
                    {
                    alert("Please select Region for current college");
                    return false;
                    }
                }
                else
                {
                    break;
                }
            }
            var uni_count = 0;
            for(var i = 0;i<University.length;i++)
            {
                //var temp = Region[i].value;
                if(University[i].value.length<=0)
                {
                    uni_count++;
                    if(uni_count  == University.length)
                    {
                    alert("Please select University for current college");
                    return false;
                    }
                }
                else
                {
                    break;
                }
            }
            var count = 0;
            for (var i = 0; i < items.length; i++) {
                var temp = select1[i].value;
                if (items[i].type == 'checkbox' && items[i].checked == true && temp.length > 0) {
                    var x=casteCheck(i+1);
                    //document.write(x);
                    if(x == true)
                    {
                        continue;
                    }
                    else
                    {
                        alert("Please fill all cut-off fields for " + items[i].value);
                        return false;
                    }
                    
                    //selectedItems=selectedItems+items[i].value+"_";
                    //selectedItems+=items[i].value+"\n";       
                }
                else if (items[i].type == 'checkbox' && items[i].checked == false && temp.length > 0) {
                    count++;
                    alert(items[i].value + " is not checked");
                    return false;
                }
                else if (items[i].type == 'checkbox' && items[i].checked == true && temp.length <= 0) {
                    alert("Intake is not selected for " + items[i].value);
                    return false;
                }
                else {
                    count++;
                    if (count == items.length) {
                        alert("You have not select any Courses for current College ");
                        return false;
                    }
                    continue;
                }
            }
            //document.write(fe);
            if(fees1() != true)
            {
                alert("Please enter fees for all the categories");
                return false;
            }
            var contact_details = document.getElementsByName('contact_details');
            if(contact_details[0].value == "")
            {
                alert("Please Enter Contact details of current college");
                return false;
            }
        }
        //onSubmit="return Check1()"
    </script>
</head>
<body>
    <form method="post" onSubmit="return Check1()" action="/form_submission/">
        {% csrf_token %}
        {% if authenticated %}
        <h1>College feeds</h1>
        College Name:<input type="text" name="college_name"> <br />
        Institute Code:<input type="text" name="instu_code" /> <br />
        Region:
        <select name="Region">
            <option value=""> </option>
            <option value="Ratnagiri">Ratnagiri</option>
            <option value="Raigad">Raigad</option>
            <option value="Mumbai">Mumbai</option>
            <option value="Nashik">Nashik</option>
            <option value="Pune">Pune</option>
            <option value="Kolhapur">Kolhapur</option>
            <option value="Sangli">Sangli</option>
            <option value="Satara">Satara</option>
            <option value="Dhule">Dhule</option>
            <option value="Solapur">Solapur</option>
            <option value="Nandurbar">Nandurbar</option>
            <option value="Jalgaon">Jalgaon</option>
            <option value="Ahmednagar">Ahmednagar</option>
            <option value="Wardha">Wardha</option>
            <option value="Gondia">Gondia</option>
            <option value="Gadchiroli">Gadchiroli</option>
            <option value="Chandrapur">Chandrapur</option>
            <option value="Bhandara">Bhandara</option>
            <option value="Sindhudurg">Sindhudurg</option>
            <option value="Palghar">Palghar</option>
            <option value="Thane">Thane</option>
            <option value="Mumbai City">Mumbai City</option>
            <option value="Navi Mumbai">Navi Mumbai</option>
            <option value="Hingoli">Hingoli</option>
            <option value="Parbhani">Parbhani</option>
            <option value="Latur">Latur</option>
            <option value="Nanded">Nanded</option>
            <option value="Osmanabad">Osmanabad</option>
            <option value="Jalna">Jalna</option>
            <option value="Beed">Beed</option>
            <option value="Washim">Washim</option>
            <option value="Yavatmal">Yavatmal</option>
            <option value="Buldana">Buldana</option>
            <option value="Amravati">Amravati</option>
            <option value="Akola">Akola</option>
        </select><br />
        University:
        <select name="University">
            <option value=""></option>
            <option value="Savitribai Phule Pune University">Savitribai Phule Pune University</option>
            <option value="Dr. Babasaheb Ambedkar Marathwada University">Dr. Babasaheb Ambedkar Marathwada University
            </option>
            <option value="Shivaji University,Kolhapur">Shivaji University,Kolhapur</option>
            <option value="Sant Gadge Baba Amravati University">Sant Gadge Baba Amravati University</option>
            <option value="North Maharashtra University">North Maharashtra University</option>
            <option value="Gondwana University">Gondwana University</option>
            <option value="Rashtrasant Tukadoji Maharaj Nagpur University">Rashtrasant Tukadoji Maharaj Nagpur
                University</option>
            <option value="University of Mumbai">University of Mumbai</option>
            <option value="Swami Ramanand Teerth Marathwada University">Swami Ramanand Teerth Marathwada University
            </option>
            <option value="Sant Gadge Baba Amravati University">Sant Gadge Baba Amravati University</option>
            <option value="Dr. Babasaheb Ambedkar Marathwada University">Dr. Babasaheb Ambedkar Marathwada University
            </option>
            <option value="SNDT Women's University">SNDT Women's University</option>
        </select><br />
        Courses:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GOPENS&nbsp;&nbsp;&nbsp;&nbsp;GSCS&nbsp;&nbsp;&nbsp;&nbsp;GSTS&nbsp;&nbsp;&nbsp;&nbsp;GVJS&nbsp;&nbsp;&nbsp;&nbsp;GNT1S&nbsp;&nbsp;&nbsp;&nbsp;GNT2S&nbsp;&nbsp;&nbsp;&nbsp;GNT3S&nbsp;&nbsp;&nbsp;&nbsp;GOBCS&nbsp;&nbsp;&nbsp;&nbsp;LOPENS&nbsp;&nbsp;&nbsp;&nbsp;LSCS&nbsp;&nbsp;&nbsp;&nbsp;LSTS&nbsp;&nbsp;&nbsp;&nbsp;LVJS&nbsp;&nbsp;&nbsp;&nbsp;LNT1S&nbsp;&nbsp;&nbsp;&nbsp;LNT2S&nbsp;&nbsp;&nbsp;&nbsp;LNT3S&nbsp;&nbsp;&nbsp;&nbsp;LOBCS<br /></br>
        <label for="ad_Checkbox1">Computer Science</label>
        <input name="chk" type="checkbox" value="computer Science" />
        <select name="chk_1">
            <option disabled selected value> -- select an option -- </option>
            <option value='30'>30</option>
            <option value='40'>40</option>
            <option value='50'>50</option>
            <option value='60'>60</option>
            <option value='70'>70</option>
            <option value='80'>80</option>
            <option value='90'>90</option>
            <option value='100'>100</option>
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2"
            name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" /> <br />
        <br />
        <label for="ad_Checkbox1">Mechanical</label>
        <input name="chk" id="ad_Checkbox2" class="ads_Checkbox" type="checkbox" value="Mechanical" />
        <select name="chk_1">
            <option disabled selected value> -- select an option -- </option>
            <option value='30'>30</option>
            <option value='40'>40</option>
            <option value='50'>50</option>
            <option value='60'>60</option>
            <option value='70'>70</option>
            <option value='80'>80</option>
            <option value='90'>90</option>
            <option value='100'>100</option>
        </select>
        &emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2"
            name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" /> <br />
        </br> <label for="ad_Checkbox1">ENTC</label>
        <input name="chk" id="ad_Checkbox3" class="ads_Checkbox" type="checkbox" value="ENTC" />
        <select name="chk_1">
            <option disabled selected value> -- select an option -- </option>
            <option value='30'>30</option>
            <option value='40'>40</option>
            <option value='50'>50</option>
            <option value='60'>60</option>
            <option value='70'>70</option>
            <option value='80'>80</option>
            <option value='90'>90</option>
            <option value='100'>100</option>
        </select>&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2"
            name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" /> <br /><br />
        <label for="ad_Checkbox1">Information Technology</label>
        <input name="chk" id="ad_Checkbox4" class="ads_Checkbox" type="checkbox" value="Information Technology" />
        <select name="chk_1">
            <option disabled selected value> -- select an option -- </option>
            <option value='30'>30</option>
            <option value='40'>40</option>
            <option value='50'>50</option>
            <option value='60'>60</option>
            <option value='70'>70</option>
            <option value='80'>80</option>
            <option value='90'>90</option>
            <option value='100'>100</option>
        </select>&nbsp;&nbsp;
        <input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2"
            name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" /> <br /><br />
        <label for="ad_Checkbox1">Aerospace</label>
        <input name="chk" id="ad_Checkbox4" class="ads_Checkbox" type="checkbox" value="Aerospace" />
        <select name="chk_1">
            <option disabled selected value> -- select an option -- </option>
            <option value='30'>30</option>
            <option value='40'>40</option>
            <option value='50'>50</option>
            <option value='60'>60</option>
            <option value='70'>70</option>
            <option value='80'>80</option>
            <option value='90'>90</option>
            <option value='100'>100</option>
        </select>&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2"
            name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" /> <br /><br />
            <label for="ad_Checkbox1">Agriculture&food</label>
        <input name="chk" id="ad_Checkbox4" class="ads_Checkbox" type="checkbox" value="Agriculture&food" />
        <select name="chk_1">
            <option disabled selected value> -- select an option -- </option>
            <option value='30'>30</option>
            <option value='40'>40</option>
            <option value='50'>50</option>
            <option value='60'>60</option>
            <option value='70'>70</option>
            <option value='80'>80</option>
            <option value='90'>90</option>
            <option value='100'>100</option>
        </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;&nbsp;&nbsp;
        <input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2"
            name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" /> <br /><br />
            <label for="ad_Checkbox1">Electrical</label>
        <input name="chk" id="ad_Checkbox4" class="ads_Checkbox" type="checkbox" value="Electrical" />
        <select name="chk_1">
            <option disabled selected value> -- select an option -- </option>
            <option value='30'>30</option>
            <option value='40'>40</option>
            <option value='50'>50</option>
            <option value='60'>60</option>
            <option value='70'>70</option>
            <option value='80'>80</option>
            <option value='90'>90</option>
            <option value='100'>100</option>
        </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2"
            name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" /> <br /><br />
            <label for="ad_Checkbox1">Civil</label>
        <input name="chk" id="ad_Checkbox4" class="ads_Checkbox" type="checkbox" value="Civil" />
        <select name="chk_1">
            <option disabled selected value> -- select an option -- </option>
            <option value='30'>30</option>
            <option value='40'>40</option>
            <option value='50'>50</option>
            <option value='60'>60</option>
            <option value='70'>70</option>
            <option value='80'>80</option>
            <option value='90'>90</option>
            <option value='100'>100</option>
        </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;
        <input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2"
            name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" /> <br /><br />
            <label for="ad_Checkbox1">Chemical</label>
        <input name="chk" id="ad_Checkbox4" class="ads_Checkbox" type="checkbox" value="Chemical" />
        <select name="chk_1">
            <option disabled selected value> -- select an option -- </option>
            <option value='30'>30</option>
            <option value='40'>40</option>
            <option value='50'>50</option>
            <option value='60'>60</option>
            <option value='70'>70</option>
            <option value='80'>80</option>
            <option value='90'>90</option>
            <option value='100'>100</option>
        </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;
        <input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2"
            name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" /> <br /><br />
            <label for="ad_Checkbox1">Aeronautical</label>
        <input name="chk" id="ad_Checkbox4" class="ads_Checkbox" type="checkbox" value="Aeronautical" />
        <select name="chk_1">
            <option disabled selected value> -- select an option -- </option>
            <option value='30'>30</option>
            <option value='40'>40</option>
            <option value='50'>50</option>
            <option value='60'>60</option>
            <option value='70'>70</option>
            <option value='80'>80</option>
            <option value='90'>90</option>
            <option value='100'>100</option>
        </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;
        <input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2"
            name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" /> <br /><br />
        
            <label for="ad_Checkbox1">Agriculture</label>
        <input name="chk" id="ad_Checkbox4" class="ads_Checkbox" type="checkbox" value="Agriculture" />
        <select name="chk_1">
            <option disabled selected value> -- select an option -- </option>
            <option value='30'>30</option>
            <option value='40'>40</option>
            <option value='50'>50</option>
            <option value='60'>60</option>
            <option value='70'>70</option>
            <option value='80'>80</option>
            <option value='90'>90</option>
            <option value='100'>100</option>
        </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;
        <input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2"
            name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" /> <br /><br />
        
            <label for="ad_Checkbox1">Mining Engineering</label>
        <input name="chk" id="ad_Checkbox4" class="ads_Checkbox" type="checkbox" value="Mining Engineering" />
        <select name="chk_1">
            <option disabled selected value> -- select an option -- </option>
            <option value='30'>30</option>
            <option value='40'>40</option>
            <option value='50'>50</option>
            <option value='60'>60</option>
            <option value='70'>70</option>
            <option value='80'>80</option>
            <option value='90'>90</option>
            <option value='100'>100</option>
        </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2"
            name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" /> <br /><br />
        
            <label for="ad_Checkbox1">Biochemical</label>
        <input name="chk" id="ad_Checkbox4" class="ads_Checkbox" type="checkbox" value="Biochemical" />
        <select name="chk_1">
            <option disabled selected value> -- select an option -- </option>
            <option value='30'>30</option>
            <option value='40'>40</option>
            <option value='50'>50</option>
            <option value='60'>60</option>
            <option value='70'>70</option>
            <option value='80'>80</option>
            <option value='90'>90</option>
            <option value='100'>100</option>
        </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2"
            name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" /> <br /><br />
        
            <label for="ad_Checkbox1">Metallurgical</label>
        <input name="chk" id="ad_Checkbox4" class="ads_Checkbox" type="checkbox" value="Metallurgical" />
        <select name="chk_1">
            <option disabled selected value> -- select an option -- </option>
            <option value='30'>30</option>
            <option value='40'>40</option>
            <option value='50'>50</option>
            <option value='60'>60</option>
            <option value='70'>70</option>
            <option value='80'>80</option>
            <option value='90'>90</option>
            <option value='100'>100</option>
        </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2"
            name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" /> <br /><br />
        
            <label for="ad_Checkbox1">Petrochemical</label>
        <input name="chk" id="ad_Checkbox4" class="ads_Checkbox" type="checkbox" value="Petrochemical" />
        <select name="chk_1">
            <option disabled selected value> -- select an option -- </option>
            <option value='30'>30</option>
            <option value='40'>40</option>
            <option value='50'>50</option>
            <option value='60'>60</option>
            <option value='70'>70</option>
            <option value='80'>80</option>
            <option value='90'>90</option>
            <option value='100'>100</option>
        </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2"
            name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" /> <br /><br />
        
            <label for="ad_Checkbox1">Textile</label>
        <input name="chk" id="ad_Checkbox4" class="ads_Checkbox" type="checkbox" value="Textile" />
        <select name="chk_1">
            <option disabled selected value> -- select an option -- </option>
            <option value='30'>30</option>
            <option value='40'>40</option>
            <option value='50'>50</option>
            <option value='60'>60</option>
            <option value='70'>70</option>
            <option value='80'>80</option>
            <option value='90'>90</option>
            <option value='100'>100</option>
        </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2"
            name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
            type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
            size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" /> <br /><br />
            <label for="ad_Checkbox1">Autombile</label>
            <input name="chk" id="ad_Checkbox4" class="ads_Checkbox" type="checkbox" value="Autombile" />
            <select name="chk_1">
                <option disabled selected value> -- select an option -- </option>
                <option value='30'>30</option>
                <option value='40'>40</option>
                <option value='50'>50</option>
                <option value='60'>60</option>
                <option value='70'>70</option>
                <option value='80'>80</option>
                <option value='90'>90</option>
                <option value='100'>100</option>
            </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
                size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
                type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2"
                name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
                size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
                type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
                size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input
                type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
                size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" />&nbsp;&nbsp;&nbsp;&nbsp;<input
                type="text" name="caste" size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="caste"
                size="2" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" name="caste" /> <br /><br />
            
        
        
        
        <h4>Fees</h4>
        &emsp;&emsp;&emsp;&emsp;Open&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;OBC&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;SC&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;ST&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;SBC&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;VJ/NT</br>
        &emsp;&emsp;<input type="text" name="fees" size="9">&emsp;&emsp;<input type="text" name="fees"
            size="9">&emsp;&emsp;<input type="text" name="fees" size="9">&emsp;&emsp;<input type="text" name="fees"
            size="9">&emsp;&emsp;<input type="text" name="fees" size="9">&emsp;&emsp;<input type="text" name="fees"
            size="9"> <br />
        <br />Contact details: <input type="text" name="contact_details"><br />
        <input type="submit" value="Save" /><br />
    </form>
    {% endif %}
</body>

</html>