{% extends 'a.html' %}
{% block content %}
<head>
    <title> 
        College suggestor 
    </title> 
      
    <link rel = "icon" href =  "static\logo.jpg" type = "image/x-icon"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .jumbotron{
            background: transparent;
        }
    </style>
</head>
<div class="row">
    <div class="col-lg-12 col-xs-12 col-md-12">
        <div class="container">
            <div class="jumbotron">
                <div class="card card-outline-secondary mt-5 ml-auto mr-auto w-100">
                    <div class="card-header">
                        <h3 class="mb-0">Change Password</h3>
                    </div>
                    <div class="card-body">
                        <form class="form" method="post" role="form" autocomplete="off">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="inputPasswordOld">Current Password</label>
                                <input type="password" class="form-control"  name = "{{ form.old_password.name }}" required>
                                <span class="form-text small text-danger mt-2">
                                {{ form.old_password.errors }}
                            </span>
                            </div>
                            <div class="form-group">
                                <label for="inputPasswordNew">New Password</label>
                                <input type="password" class="form-control"  name = "{{ form.new_password1.name }}" required>
                                <p style="color:black">{{ form.new_password1.errors }}</p>
                                {{ form.new_password1.errors }}
                                <span class="form-text small text-muted">
                                        Your password can't be too similar to your other personal information.<br/>
                                        Your password must contain at least 8 characters.<br/>
                                        Your password can't be a commonly used password.<br/>
                                        Your password can't be entirely numeric.
                                    </span>
                                    
                            </div>
                            <div class="form-group">
                                <label for="inputPasswordNewVerify">Verify</label>
                                <input type="password" class="form-control"  name="{{ form.new_password2.name }}" required>
                                
                                <span class="form-text small text-muted">
                                        To confirm, type the new password again.
                                    </span>
                                    <span class="form-text small text-danger mt-2">
                                        {{ form.new_password2.errors }}
                                    </span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-lg float-right">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  {% endblock content %}