<html>
	<head>
		<body class="bd1" onload="recreate()">
			<div class="dyn1">Enter a Value <input type="text" id="prod" autofocus />
				<input class="dbut" type="button" id="bt6" value="Save" onclick="save()" /></div>
				<div class="dyn2">
					<input class="ibut" type="button" id="bt1" value="Create label" onclick="createLbl(prod)" /><br>
					<input class="ibut" type="button" id="bt2" value="Create textbox" onclick="createTxt(prod)" /><br>
					<input class="ibut" type="button" id="bt3" value="Create radio" onclick="createRad(prod)" /><br>
					<input class="ibut" type="button" id="bt4" value="Create Checkbox" onclick="createChk(prod)" /><br>
					<input class="ibut" type="button" id="bt5" value="Create dropdown" onclick="createDrop(prod)" /><br>
				
				</div>
		</body>
		
	</head>
</html>